@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


@theme {
    /* Background */
    --color-background: #ffffff;

    /* Surfaces */
    --color-surface: #f8f9fa;

    /* Text */
    --color-text-primary: #1a1a1a;
    --color-text-secondary: #6b7280;

    /* Interactive */
    --color-action: #d63384;
    --color-interactive: #0d6efd;
    --color-success: #198754;

    /* Accents */
    --color-border: #dee2e6;
}

.dark {
    /* Background */
    --color-background: #191724;

    /* Surfaces */
    --color-surface: #31748F;

    /* Text */
    --color-text-primary: #E0E0E0;
    --color-text-secondary: #95AFC7;

    /* Interactive */
    --color-action: #CB6583;
    --color-interactive: #6E87EE;
    --color-success: #5FB3B4;

    /* Accents */
    --color-border: #6E6A86;
}